<.header>
  New Human resource
  <:subtitle>Use this form to manage human_resource records in your database.</:subtitle>
</.header>

<.human_resource_form changeset={@changeset} action={~p"/humanresources"} />

<.back navigate={~p"/humanresources"}>Back to humanresources</.back>
